/* Container principal */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite scroll no body */
}

.pacientes-container {
    padding: 20px;
    text-align: center;
    min-height: 100%; /* Permite que o container cresça */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
}

/* Título */
.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Grid de cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Gera colunas flexíveis */
    grid-auto-rows: 1fr; /* Faz com que todas as linhas tenham a mesma altura */
    gap: 20px; /* Espaçamento entre os cards */
    width: 100%; /* Faz o grid ocupar toda a largura disponível */
    max-width: 1200px; /* Limita a largura máxima do grid */
    align-items: stretch; /* Estica os itens para que tenham a mesma altura */
}

/* Estilo para cada card */
.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo seja distribuído igualmente */
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Ícones dentro dos cards */
.card .icon {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #5b8df6;
}

/* Títulos dos cards */
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Descrição dos cards */
.card p {
    font-size: 1rem;
    color: #666;
}

/* Melhorias para telas menores */
@media (max-width: 768px) { /* Tablets */
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Reduz a largura mínima dos cards */
        gap: 15px;
    }
    .card {
        padding: 15px;
    }
    .card .icon {
        font-size: 2.5rem;
    }
    .card h2 {
        font-size: 1.3rem;
    }
    .card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) { /* Telefones */
    .cards {
        grid-template-columns: 1fr; /* Um card por linha */
        gap: 10px; /* Reduz espaçamento entre os cards */
    }
    .c1{
        margin-bottom: 70px;
    }
    .card {
        padding: 10px;
    }
    .card .icon {
        font-size: 2rem;
    }
    .card h2 {
        font-size: 1.2rem;
    }
    .card p {
        font-size: 0.8rem;
    }
}

