/* Estilo para a lista de itens */
.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.collapse-btn{
    width: 107%; /* Garante que o botão seja responsivo */
    padding: 10px;
    background-color: #5b8df6;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* Estilo para os itens individuais */
.sidebar .menu li {
    display: flex;
    align-items: center;
    padding: 15px 20px; /* Aumenta o espaço interno */
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    cursor: pointer;
    transition: background-color 0.3s, padding 0.3s;
}

/* Cor de fundo ao passar o mouse */
.sidebar .menu li:hover {
    background-color: #2c4277;
}

/* Estilo para ícones (se existirem) */
.sidebar .menu li .icon {
    margin-right: 10px;
    font-size: 1.5rem; /* Aumenta o tamanho dos ícones */
}

/* Estilo para texto dentro dos itens */
.sidebar .menu li span {
    flex: 1;
    font-size: 1.2rem; /* Aumenta o texto */
}
